<p>Hello {{to.username}},<br>
{{from.username}} would like to create a contact with you on ditup.</p>

<a href="{{url}}" target="_blank" class="action-button">Confirm or cancel</a>

<p>
  Here is what {{from.username}} wrote to you:
  <blockquote>
    {{message}}
  </blockquote>
</p>


